#menu{
    margin-bottom: 60px;
}
#boton_registro{
    background-color: aqua;
    padding: 8px;
    
}

.caja{
    background-color: blueviolet;
    padding: 50px 100px;
    color: white;
    text-align: justify;
    margin: 200px 100px;
    border: outset red 4px;
}

.carousel img{
    height: 90vh;
}



